.univ-fiche {
  background-color: rgb(235, 197, 197);
  box-sizing: border-box;
  width: 50%;
  margin: 20px auto;
  padding: 10px 30px;
  box-shadow: lightgray 4px 4px 20px;
  margin-top: 4%;
  img {
    width: 100%;
  }
  h2 {
    margin-bottom: 0;
  }
  p {
    font-weight: 300;
    font-size: 16px;
  }
  button {
    font-size: 14px;
  }
  span {
    font-weight: 900;
  }
}
