.mapa {
  height: 100vh !important;
  width: 75%;
  object-position: center;
  text-align: center;

}

.container {
  width: 1000px;
  margin: 100;
  margin-top: 100px;
}

/*
chaud/ froid
pauvre/riche
travaille/ branlette (excellence acaddemique)
LGBTQ+ friendly
Langue la-bas


*/
